<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>ChainedStory | A collaborative story writing game.</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two:400italic">
		<link rel="stylesheet" href="../../../web-app/css/chico-min-0.11.css">
		<link rel="stylesheet" href="../../../web-app/css/chico-mesh.css">
		<link rel="stylesheet" href="../../../web-app/css/chainedstory.css">
	</head>
	<body>
		<header class="cs-header">
			<h1 class="cs-logo">ChainedStory</h1>
		</header>
		<div class="cs-main">
			<section class="cs-link-view">
				<form action="/stories/add" class="ch-form" method="post">
					<div class="cs-media">
						<a href="https://www.facebook.com/${request.getAttribute('facebook')?.user_id}" class="cs-img">
							<img src="https://graph.facebook.com/${request.getAttribute('facebook')?.user_id}/picture?type=square" width="50" height="50">
						</a>
						<div class="cs-bd ch-form-row">
							<textarea required placeholder="Start an awesome story with your friends..." name="paragraph" id="paragraph" maxlength="512"></textarea>
						</div>
					</div>
					<p class="ch-form-actions">
						<span class="cs-btn-container">
							<input type="submit" name="fold" value="Create" class="ch-btn" />
						</span>
					</p>
				</form>
			</section>
		</div>
        <script src="../../../web-app/js/jquery.js"></script>
        <script src="../../../web-app/js/chico-min-0.11.js"></script>
    	<script>
			if ($("#paragraph").length > 0) {
				$("#paragraph").countdown(512);
			}
		</script>
	</body>
</html>
