<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two:400italic">
		<link rel="stylesheet" href="../../../web-app/css/chico-min-0.11.css">
		<link rel="stylesheet" href="../../../web-app/css/chainedstory.css">
	</head>
	<body>
		<header class="cs-header">
			<h1 class="cs-logo">Chainedstory</h1>
		</header>
		<section class="cs-link-view">
			<ul class="cs-story">
				<li>
					<article class="cs-paragraph">
						<div class="cs-media">
							<a href="https://www.facebook.com/${paragraph.facebook_id}" class="cs-img">
								<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572743_1831380123_2002424037_q.jpg" width="50" height="50">
							</a>
							<div class="cs-bd">
								<blockquote>Habia una vez, tres developers de Argentina que querían viajar a San Francisco, entonces</blockquote>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="cs-paragraph">
						<div class="cs-media">
							<a href="https://www.facebook.com/${paragraph.facebook_id}" class="cs-img">
								<img src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/174528_1426088112_7700916_n.jpg" width="50" height="50">
							</a>
							<div class="cs-bd">
								<blockquote>un día, uno de ellos les comenta que Facebook estaba organizando un Hackday en Buenos Aires. Los tres muy ilusionados se anotaron para poder participar. Llegado el día,</blockquote>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="cs-paragraph">
						<div class="cs-media">
							<a href="http://www.facebook.com/dario.guzik" class="cs-img">
								<img src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/48984_1466346255_1267_n.jpg" width="50" height="50">
							</a>
							<div class="cs-bd">
								<blockquote>se encontraron con que no tenían ninguna idea pensada para desarrollar en el tiempo de 6 horas. Luego de las charlas y la rica comida que se sirvió,</blockquote>
							</div>
						</div>
					</article>
				</li>

				<li>
					<article class="cs-paragraph">
						<div class="cs-media">
							<a href="https://www.facebook.com/${paragraph.facebook_id}" class="cs-img">
								<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/572743_1831380123_2002424037_q.jpg" width="50" height="50">
							</a>
							<div class="cs-bd">
								<blockquote>se juntaron y en poco tiempo recordaron aquellas viejas epocas en donde la gente se juntaba junto al fogon a cantar canciones y jugar algunos juegos.</blockquote>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="cs-paragraph">
						<div class="cs-media">
							<a href="https://www.facebook.com/${paragraph.facebook_id}" class="cs-img">
								<img src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/174528_1426088112_7700916_n.jpg" width="50" height="50">
							</a>
							<div class="cs-bd">
								<blockquote>Uno de ellos, Dario, recordo el juego de las historias encadenadas y...</blockquote>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="cs-paragraph">
						<div class="cs-media">
							<a href="http://www.facebook.com/dario.guzik" class="cs-img">
								<img src="http://profile.ak.fbcdn.net/hprofile-ak-prn1/48984_1466346255_1267_n.jpg" width="50" height="50">
							</a>
							<div class="cs-bd">
								<blockquote>... decidieron que podían implementarla y eso es lo que hicieron!.</blockquote>
							</div>
						</div>
					</article>
				</li>
			</ul>
		</section>

        <script src="../../../web-app/js/jquery.js')}"></script>
        <script src="../../../web-app/js/chico-min-0.11.js"></script>
		<script>
			if ($("#paragraph").length > 0) {
				$("#paragraph").countdown(512);
			}
		</script>
	</body>
</html>
