body {
	background: #E8BA89 url("../assets/woodenfloor.jpg") repeat;
	color: #524D4D;
	max-width: none;
	min-width: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.231em;
	font-family: "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
}

img {
	max-width: 100%;
}

/* Arial Headers*/
h1 {
	font-size: 1.714em; /* 24 */
}

h2 {
	font-size: 1.571em; /* 22 */
}

h3 {
	font-size: 1.429em; /* 20 */
}

h4 {
	font-size: 1.286em; /* 18 */
}

h5 {
	font-size: 1.143em; /* 16 */
}

h6 {
	font-size: 1em; /* 14 */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.25em;
	margin: 0 0 10px;
}


/*
 * Boxes
 */
.ch-box-container,
.ch-box-lite,
.ch-box {
	background-color: #FFFFFF;
}

.ch-box-lite,
.ch-box {
	border: none;
	-wekit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

/*
 * Messages Boxes
 */
.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	top: 10px;
}

.ch-box-attention,
.ch-box-attention:before {
	background-color: #FCF8E3;
	border-color: #FBEED5;
	color: #C09853;
}

.ch-box-error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}

.ch-box-help,
.ch-box-help:before {
	background-color: #F6F9F3;
	border-color: #dddddd;
	color: #999;
}

.ch-box-information,
.ch-box-information:before {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

.ch-box-ok,
.ch-box-ok:before {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847;
}


/*
 * Buttons
 */
.cs-btn-container {
	background: rgba(0, 0, 0, .3);
	border-radius: 6px;
	box-shadow: 0 1px rgba(255, 255, 255, .2),0 0 6px rgba(0, 0, 0, .08) inset;
	display: inline-block;
	text-align: center;
}

.ch-btn,
.ch-btn:hover,
.ch-btn:focus,
.ch-btn:active,
.ch-btn:visited {
	background: rgba(161, 19, 2, .5);
	border-radius: 5px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid rgba(0, 0, 0, .3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 1px 1px rgba(0, 0, 0, .2), 0 -1px rgba(255, 255, 255, .3);
	font-weight: bold;
	text-shadow: none;
	color: #f5f5f5;
	display: inline-block;
	margin: 8px 9px 8px;
}

.ch-btn:hover,
.ch-btn:focus {
	background-color: #A71303;
}

.ch-btn:active {
	background-color: #760E02;
	border-top: 1px solid rgba(0, 0, 0, .3);
	border-left: 1px solid rgba(0, 0, 0, .3);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-shadow: -1px -1px rgba(0, 0, 0, .2);

}

.ch-btn-big,
.ch-btn-big:focus {
	font-size: 2em;
	padding: 10px 20px;
}

.ch-icon-facebook:before {
	margin-right: 0.05em;
	padding-right: 0.4em;
	border-right: 1px solid #6B1B0B;
	display: inline-block;
	vertical-align: initial;
	position: relative;
	top: 2px;
	height: 26px;
	font-size: 1.2em;
}

.ch-icon-facebook:before {
	content: "\f09a";
}

.lt-ie8 .ch-icon-facebook {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;&nbsp;');
}


/*
 * Chained
 */

hr {
	color: #EEE;
	margin-top: 20px;
}

.cs-logo {
	font-family: "Lobster Two", cursive;
	font-size: 6em;
	line-height: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #6B3B1F;
	text-shadow: 0 -2px #5E3317, 0 1px rgba(255, 255, 255, .2);
}

.cs-main {
	max-width: 1014px;
	margin: 0 auto;
}

.cs-main .title {
	border-bottom: 1px solid #EEE;
	padding-bottom: 5px;
	color: #5E3317;
	text-align: center;
}

.cs-link-view,
.cs-message-ok {
	max-width: 650px;
	margin: 0 auto;
	padding-bottom: 5px;
}

.cs-link-view {
	background: transparent url("../assets/pageheader.gif") repeat-x;
	padding-top: 30px;
	position: relative;
}

.cs-story {
	margin: 0 0 20px;
	background: #ffffff url("../assets/linebottom.png") repeat-x left bottom;
	padding: 5px;
}

.cs-message-ok {
	text-align: center;
	line-height: 3em;
	padding: 0;
	margin-top: 50px;
	font-size: 3em;
	color: #F1F1F1;
	text-shadow: 0 -1px #5E3317;
	background: rgba(0, 0, 0, .3);
	border-radius: 6px;
}

.cs-link-view header {
	border-bottom: 1px solid #EEEEEE;
	padding: 5px;
}

.cs-link-view header h2 {
	margin: 0;
}

.cs-paragraph blockquote {
	margin: 0px 10px 0;
	line-height: 1.4em;
}

section.cs-link-view {
	max-width: 689px;
	margin: 0 auto;
}

/*USER*/
.cs-media {
	overflow: hidden;
	padding: 0 10px;
	background: #ffffff;
}

.cs-media .cs-img {
	float: left;
	margin-right: 10px;
}

.cs-media .cs-img img {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
}

.cs-media .cs-bd {
	line-height: 14px;
	padding-left: 50px;
	padding-top: 0;
}

/*Story*/
.cs-story li {
	padding-bottom: 15px;
}

footer {
	color: #F1F1F1;
	text-shadow: 0 -1px #5E3317;
	clear: both;
	font-size: .8em;
	text-align: right;
}

#facepile {
	width: 310px;
	height: 70px;
}

/* forms */
input:focus,
textarea:focus,
select[multiple]:focus,
.ch-form-select-multiple:focus{
	border-color: #A11302;
}

.ch-form textarea,
.ch-form input[type="text"] {
	font-size: 1em;
}

.ch-form .ch-form-hint {
	margin: 5px 0 0 10px;
}

.ch-form textarea {
	width: 95%;
	margin: 0;
}

.ch-form-actions {
	margin: 20px;
	text-align: center;
}