body {
	background: #E8BA89 url("../assets/woodenfloor.jpg") repeat;
	color: #524D4D;
	max-width: none;
	min-width: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.231em;
	font-family: "Helvetica Neue", Helvetica, Arial, "MS Trebuchet", sans-serif;
}

img {
	max-width: 100%;
}

/* Arial Headers*/
h1 {
	font-size: 1.714em; /* 24 */
}

h2 {
	font-size: 1.571em; /* 22 */
}

h3 {
	font-size: 1.429em; /* 20 */
}

h4 {
	font-size: 1.286em; /* 18 */
}

h5 {
	font-size: 1.143em; /* 16 */
}

h6 {
	font-size: 1em; /* 14 */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.25em;
	margin: 0 0 10px;
}


/*
* Boxes
*/
.ch-box-container,
.ch-box-lite,
.ch-box {
	background-color: #FFFFFF;
}

.ch-box-lite,
.ch-box {
	border: none;
	-wekit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

/*
* Messages Boxes
*/
.ch-box-attention:before,
.ch-box-help:before,
.ch-box-information:before,
.ch-box-error:before,
.ch-box-ok:before {
	top: 10px;
}

.ch-box-attention,
.ch-box-attention:before {
	background-color: #FCF8E3;
	border-color: #FBEED5;
	color: #C09853;
}

.ch-box-error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}

.ch-box-help,
.ch-box-help:before {
	background-color: #F6F9F3;
	border-color: #dddddd;
	color: #999;
}

.ch-box-information,
.ch-box-information:before {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

.ch-box-ok,
.ch-box-ok:before {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847;
}


/**/

hr {
	color: #EEE;
	margin-top: 20px;
}

.cs-logo {
	font-family: "Lobster Two", cursive;
	font-size: 4.5em;
	line-height: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #6B3B1F;
	text-shadow: 0 -2px #5E3317, 0 1px rgba(255, 255, 255, .2);
}

.cs-link-view,
.cs-message-ok {
	max-width: 650px;
	margin: 0 auto;
	padding-bottom: 5px;
}

.cs-link-view {
	background: transparent url("../assets/pageheader.gif") repeat-x;
	padding-top: 30px;
	position: relative;
}

.cs-message-ok {
	text-align: center;
	line-height: 4em;
	padding: 0;
	padding-top: 12px;
}

.cs-link-view header {
	border-bottom: 1px solid #EEEEEE;
	padding: 5px;
}

.cs-link-view header h2 {
	margin: 0;
}

.cs-paragraph {
	padding: 15px 10px 0;
}
.cs-paragraph blockquote {
	margin: 0px 10px 0;
	font-style: italic;
}

.cs-link-view textarea,
.cs-link-view textarea:focus {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	border-left: 2px solid whiteSmoke;
}

.cs-link-view .ch-form {
	padding: 10px;
}

.cs-link-view .ch-form-hint {
	margin: 5px 0 0 10px;
}

.cs-link-view legend{
	color: #333;
	font-weight: normal;
	padding-bottom: 10px;
}

.cs-link-view textarea {
	font-size: 1em;
	width: 95%;
}

.ch-form-actions {
	margin: 0;
	text-align: right;
}

/*USER*/
.cs-media {
	overflow: hidden;
}

.cs-media .cs-img {
	float: left;
	margin-right: 10px;
}

.cs-media .cs-img img {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
}

.cs-media .cs-bd {
	line-height: 14px;
	padding-left: 50px;
}

/*Story Full*/
.cs-story-full {
	margin: 0 0 20px;
	background: #ffffff url("../assets/linebottom.png") repeat-x left bottom;
}

.cs-story-full li {
	border-bottom: 1px dashed #EEE;
	padding-bottom: 15px;
}

footer {
	background-color: rgba(0,0,0,.3);
	color: #f9f9f9;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
}



/* HOME */
.cs-link-view {
	position: relative;
	top: 0px;
	left: 20px;
}

.cs-btn-container {
	background: rgba(0, 0, 0, .3);
	border-radius: 6px;
	box-shadow: 0 1px rgba(255, 255, 255, .2),0 0 6px rgba(0, 0, 0, .08) inset;
	padding: 6px;
	display: inline-block;
}


.cs-main .cs-btn-container {
	margin-left: -70px;
	position: relative;
	left: 50%;
}

.ch-btn,
.ch-btn:hover,
.ch-btn:focus,
.ch-btn:active,
.ch-btn:visited {
	background: rgba(161, 19, 2, .5);
	border-radius: 5px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid rgba(0, 0, 0, .3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 1px 1px rgba(0, 0, 0, .2), 0 -1px rgba(255, 255, 255, .3);
	padding: 10px 20px;
	font-size: 2em;
	font-weight: bold;
	text-shadow: none;
	color: #f5f5f5;
	display: inline-block;
}


.ch-btn:hover,
.ch-btn:focus {
	background-color: #A71303;
}

.ch-btn:active {
	background-color: #760E02;
	border-top: 1px solid rgba(0, 0, 0, .3);
	border-left: 1px solid rgba(0, 0, 0, .3);
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-shadow: -1px -1px rgba(0, 0, 0, .2);
	padding: 10px 19px 10px 21px;
}


.cs-logo {
	font-size: 10em;
	margin-bottom: .2em;
}

.cs-main {
	max-width: 1014px;
	margin: 0 auto;
}

.cs-main h2 {
	font-size: 3em;
	color: #f1f1f1;
	text-shadow: 0 -1px #5E3317;
}

.cs-main p {
	color: #f1f1f1;
	text-shadow: 0 -1px #5E3317;
	margin: 20px 0;
	font-size: 1.1em;
	line-height: 1.3em;
}

.cs-main .cs-link-view {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}